h1 {
color: #525454;
font-size: 22px;
margin: 0 0 0 0;
text-align: center;
}

h2, h3, h4 {
    text-align: center;
    padding: 0 0 0 0;
}

h4 {
    font-size: 20px;
}

hr {
background: #D0D7D9;
height: 2px;
margin: 3px 0 3px 0;
border: none;
}

ul {
    border: 2px solid #D0D7D9;
}

.map-cont {
    position: relative;
    padding: 0px;
    border: 2px solid #D0D7D9;
}

#map {
    padding-bottom: 100%;
}

.options-box {
background: #fff;
height: 100%;
padding: 10px 10px 5px 10px;
text-align: left;
}

.filter-button, .filter {
    margin-bottom: 3px;
}

.locations {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
}

.titles {
    padding: 2px;
    text-align: left;
}

.titles:hover {
    background-color: #0090FF;
    color: white;
    border-radius: 5px;
}

.title-selected {
    background-color: #B34D4D;
    color: white;
    border-radius: 5px;
}

.text {
font-size: 12px;
}

.info {
    width: 225px;
    height: 300px;
}

.info-titles {
    font-size: 12px;
    padding: 3px;
    margin: 0 0 10px 0;
    background-color: #B34D4D;
    color: white;
    border-radius: 5px;
}

.aligner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aligner-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pet-link {
    font-size: 20px;
    font-weight: bold;
}

.petfinder {
    padding:5px 0 5px 0;
    font-size: 10px;
}

.error {
    font-weight: bold;
}

.map-error {
    font-weight: bold;
    font-size: 40px;
}

/* div {
    border: solid 2px red;
} */