h1 {
color: #525454;
font-size: 22px;
margin: 0 0 0 0;
text-align: center;
}

h2, h3, h4 {
    text-align: center;
    padding: 0 0 0 0;
}

h4 {
    font-size: 20px;
}

hr {
background: #D0D7D9;
height: 2px;
margin: 3px 0 3px 0;
border: none;
}

ul {
    border: 2px solid #D0D7D9;
}

.map-cont {
    position: relative;
    padding: 0px;
    border: 2px solid #D0D7D9;
}

#map {
    padding-bottom: 100%;
}

.options-box {
background: #fff;
/* border: 1px solid #999;
border-radius: 3px; */
height: 100%;
/* line-height: 35px; */
padding: 10px 10px 5px 10px;
text-align: left;
/* width: 340px; */
}

.filter-button, .filter {
    margin-bottom: 3px;
}

.locations {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
}

.titles {
    padding: 2px;
    text-align: left;
}

.titles:hover {
    background-color: #0091ff;
    color: white;
    border-radius: 5px;
}

.titles-selected {
    background-color: #B34D4D;
    color: white;
    border-radius: 5px;
}

.text {
font-size: 12px;
}

.info {
    width: 225px;
    height: 300px;
}

.info-titles {
    font-size: 15px;
    padding: 3px;
    margin: 0 0 10px 0;
    background-color: #B34D4D;
    color: white;
    border-radius: 5px;
}

.aligner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aligner-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.pet-link {
    font-size: 25px;
    font-weight: bold;
}

.petfinder {
    padding:5px 0 5px 0;
    font-size: 10px;
}

.error {
    font-weight: bold;
}

/* div {
    border: solid 2px red;
} */