<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">   
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
        <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry,drawing&key=AIzaSyCWrMU-EIkq8zrp9oiAf0fnlRPJFoT11f8&v=3&callback=initMap"></script>
	</body>
</html>