{% extends "main.html" %}
{% block content %}

      <div id="main" class="options-box">
        <h1>Neighborhood Map</h1>
        <div>
          <hr>
          <p><input data-bind="value: loc, valueUpdate: 'afterkeydown'" placeholder="enter location"/></p>
          <p>Location: <strong data-bind="text: loc"></strong></p>
          <input data-bind="click: showAll" type="button" value="Show All">
          <ul class="folders" data-bind="foreach: filteredLocs">
             <li data-bind="text: title, click: $root.showInfo"></li> 
          </ul>
        </div>
      </div>
      <div id="map"></div>

{% endblock %}